[defaults]
inventory = inventory/hosts.ini
private_key_file = ~/.ssh/ansible_id
remote_user = bakalauras
host_key_checking = False
stdout_callback = default
result_format = yaml
forks = 5
nocows = 1
deprecation_warnings = False

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no
pipelining = True